/* selectore basicos: en orden de especificidad
id: #id (para dar estilo a una seccion unica e irrepetible) no usar
clase: . clase (lo identifica uno)
etiqueta: etiqueta
 */
h1{
    color: blueviolet;
}
/*para hacer comentarios*/
p{
    font-size: 20px;
    text-align: justify;
    color: blue;
    background-color: brown;
}
/* clase */
.colorVioleta{
    color: violet;
}
/* nomenclatura para nombrar clases CamelCase,  tambien està Bem */
.fuenteMediana{
    font-size: 30px;
}

/* para colocar dos clases se pone espacio entre ambas dentro de "" */

#header{
    background-color: aqua;
    padding: 20px;
    text-align: center;
}
/* selector descendiente llamo a los hijos por el padre*/
.main .seccionDetalle{
    background-color: rosybrown;
}
/* anidaciones */
.main{
    background-color: rgb(255, 196, 245);
    .seccionDetalle{
        background-color: salmon;
        color:yellow
    }
}
/* clases utilitarias y no se anidan */
.colorVioleta{
    color: blueviolet;
}
